<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{this.dataService.getCurrentUser().school}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form action="">
      <ion-item>
        <ion-label position="floating">School</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" value=" Submit">Submit</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>
