<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Local Chapter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="content vertical-align">
    <form action="">
      <ion-item class="vertical-align">
        <ion-label position="floating">School</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="vertical-align">
        <button ion-input type="submit" class="vertical-align" value="Submit">Submit</button>
      </ion-item>
    </form>
  </div>
</ion-content>
