<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{this.dataService.getCurrentUser().school}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-text-center name">
      <h1><b>Officers and Advisor</b></h1>
      <ul>
        <li><img src="../assets/img/img1.jpg" alt="img1"/>David<br>Officer</li>
        <li><img src="../assets/img/img2.jpg" alt="img2"/>Johnathan<br>Officer</li>
        <li><img src="../assets/img/img3.jpg" alt="img3"/>Nathanial<br>Officer</li>
        <li><img src="../assets/img/img4.jpg" alt="img4"/>Sean<br>Officer</li>
        <li><img src="../assets/img/img5.jpg" alt="img5"/>Conner<br>Officer</li>
        <li><img src="../assets/img/img6.jpg" alt="img6"/>Vanarcheck<br>Advisor</li>
      </ul>
    <div class="ion-text-center social-media">
      <h2 class="content"><b>Social Media and Official Websites</b></h2>
      <ul color="tertiary">
        <li><a href="http://www.fbla-pbl.org/" target="_blank"><ion-icon name="information-circle"></ion-icon></a></li>
        <li><a href="http://www.facebook.com/FutureBusinessLeaders" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="http://twitter.com/FBLA_National" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="http://www.instagram.com/fbla_pbl/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="http://www.linkedin.com/groups?gid=106458" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      </ul>
      </div>
    </div>
  </div>
</ion-content>
