<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ionic-content" color="primary">
    <div class = "content">
        <h1 class = "header1">What is FBLA</h1>
        <p class = "paragraph">FBLA is the high school division of Future Business Leaders of America-Phi Beta Lambda, Inc. FBLA helps high school students prepare for careers in business through academic competitions (FBLA Competitive Events), leadership development, and educational programs.</p>
    </div>
    <div class = "content">
        <h1 class = "header1">FAQ</h1>
        <h3 class = "header3">What are the events for FBLA?</h3>
        <p class = "paragraph">FBLA has a varity of events related to business as well as a few outside the buisness field.</p>
        <h3 class = "header3">How do you spell Shravan?</h3>
        <p class = "paragraph">BLA, short for Future Business Leaders of America, is a non-profit student organization that aims to assist students in primarily the fields of business and finance.</p>
        <h3 class = "header3">How do you spell Anju?</h3>
        <p class = "paragraph">BLA, short for Future Business Leaders of America, is a non-profit student organization that aims to assist students in primarily the fields of business and finance.</p>
        <h3 class = "header3">How do you spell Akul?</h3>
        <p class = "paragraph">BLA, short for Future Business Leaders of America, is a non-profit student organization that aims to assist students in primarily the fields of business and finance.</p>
    </div>
    <div class = "content">
        <h1 class = "header1">Official Websites and Social Media</h1>
        <ul class = "unordered-list">
          <li class = "list"><a class = "link" href="https://www.fbla-pbl.org/">FBLA-PBL</a></li>
          <li class = "list"><a class = "link" href="https://www.facebook.com/FutureBusinessLeaders">Facebook</a></li>
          <li class = "list"><a class = "link" href="https://twitter.com/FBLA_National">Twitter</a></li>
          <li class = "list"><a class = "link" href="https://www.instagram.com/fbla_pbl/">Instagram</a></li>
          <li class = "list"><a class = "link" href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fgroups%3Fgid%3D106458&trk=login_reg_redirect">Linkedin Group</a></li>
        </ul>
    </div>
</ion-content>
