ion-content {
  /* These examples use the same color: sienna. */
  /* These examples use the same color: lightsteelblue. */
  --ion-background-color:       #c9d1d3;
  --ion-background-color-rgb:   201,209,211;

  //REMEMBER TO SET THIS AND OTHER VARIABLES
  //--ion-border-color: #778899;

  font-family: verdana;
}

.content {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fbla {
  padding-bottom: 20px;
}

.faq {
  padding-bottom: 30px;
}

.social-media {
  margin-left: -30px;
  margin-right: -30px;
}

ul {
  padding-left: 0;
  padding-right: 0;
  li {
    padding-left: 40px;
    padding-right: 40px;
    display:inline;
    font-size: 50px;
    text-decoration: none;
  }
  li:active {

  }
}
