<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="content">
    <div class="fbla">
        <h1><b>What is FBLA</b></h1>
        <p>FBLA is the high school division of Future Business Leaders of America-Phi Beta Lambda, Inc. FBLA helps high school students prepare for careers in business through academic competitions (FBLA Competitive Events), leadership development, and educational programs.</p>
    </div>
    <div class="faq">
        <h1><b>FAQ</b></h1>
        <h3>What are the events for FBLA?</h3>
        <p>FBLA has a varity of events related to business as well as a few outside the buisness field. A full list can be found <a href="https://www.fbla-pbl.org/fbla/competitive-events/" target="_blank">here</a></p>
        <h3>What types of events are there?</h3>
        <p>There are two ways to break down events, by size and by category.</p><p> There are three sizes: Individual, Team, and Chapter. Individual events involve only one person, Team events involve multiple people from the school chapter, and Chapter event involve multiple people from the local chapter, which include multiple schools.</p><p>There are four categories: Test, Presentation, Interview, and Team Performance. Tests involve taking an exam, Presentations involve presenting before a panel of judges, Interviews involve an interview, and Team Performance involves working with a team.</p>
        <h3>What are the guidelines to events?</h3>
        <p>All events have some general guidelines, which can be found <a href="https://www.fbla-pbl.org/fbla/general-event-guidelines/" target="_blank">here</a>. Each event also has its own specific guidelines, which can be found <a href="https://www.fbla-pbl.org/fbla/competitive-events/guidelines/" target="_blank">here</a>.</p>
        <h3>How do you start a local chapter?</h3>
        <p>An FBLA chapter can easily be set up by following the <a href="https://www.fbla-pbl.org/fbla/chapter-management-handbook/organization/start-fbla-chapter-5-easy-steps/" target="_blank">five steps to starting an FBLA chapter.</a> Other information can be found in the <a href="https://www.fbla-pbl.org/fbla/chapter-management-handbook/organization/">chapter handbook</a>.</p>
    </div>
    <div class="ion-text-center social-media">
      <h1><b>Official Websites and Social Media</b></h1>
      <ul color="tertiary">
        <li><a href="http://www.fbla-pbl.org/" target="_blank"><ion-icon name="information-circle"></ion-icon></a></li>
        <li><a href="http://www.facebook.com/FutureBusinessLeaders" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="http://twitter.com/FBLA_National" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="http://www.instagram.com/fbla_pbl/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="http://www.linkedin.com/groups?gid=106458" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      </ul>
    </div>
  </div>
</ion-content>
