<ion-header>
  <ion-toolbar>
    <ion-title>eventsignup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Grade Level</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Years in FBLA</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Sign Up</button>
    </form>
</ion-content>
