p {
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 25px;
  font-family: verdana;
}

ion-button {
  margin-top: .5em;
  font-size: 30px;
  height: 65px;
  width: 50%;
}

.content {
  margin-top: .5em;
}
