<ion-header>
  <ion-toolbar>
    <ion-title>Terms of Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
        <p>By accessing and using this service,
you accept and agree to be bound by the terms and provisions of this
agreement. In addition, when using these particular services,
you shall be subject to any posted guidelines or rules applicable to
such services. Any participation in this service will constitute acceptance
of this agreement. If you do not agree to abide by the above, please do not
use this service.This site and its components are offered for informational
purposes only; this application shall not be responsible or liable for
the accuracy, usefulness or availability of any information transmitted
or made available via the application, and shall not be responsible or liable for
any error or omissions in that information. We may terminate your access to
the Site, without cause or notice, which may result in the forfeiture and
destruction of all information associated with your account.
All provisions of this Agreement that, by their nature, should survive
termination shall survive termination, including, without limitation,
ownership provisions, warranty disclaimers, indemnity, and limitations
of liability.</p>
      <ion-button href="/welcome" color="light" size="large" fill="solid" (click)="continue()">Agree</ion-button>
</ion-content>
