<ion-header>
  <ion-toolbar>
    <ion-title>
    Sign up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="signup()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.phone">
          <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input inputmode="text" formControlName="password"></ion-input>
        </ion-item>
        <!-- <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->
        <ion-item>
          <ion-label position="floating">School</ion-label>
          <ion-input inputmode="text" formControlName="school"></ion-input>
        </ion-item>
      </ion-list>
<!-- <ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Biological Gender</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Male</ion-label>
      <ion-radio slot="start" value="male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Female</ion-label>
      <ion-radio slot="start" value="female"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Other</ion-label>
      <ion-radio slot="start" value="other"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list> -->

<!-- ISSUE
      <ion-list formGroupName="address">

        <ion-list-header>
          <ion-label>Address</ion-label>
        </ion-list-header>
        <!--
        <ion-item>
          <ion-label position="floating">Street</ion-label>
          <ion-input formControlName="street"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.street">
          <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <!--

        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input formControlName="city"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.city">
          <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <!--

        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input formControlName="state"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.state">
          <ng-container *ngIf="state.hasError(error.type) && (state.dirty || state.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>


        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input formControlName="zip"></ion-input>
        </ion-item>


        <div *ngFor="let error of errorMessages.zip">
          <ng-container *ngIf="zip.hasError(error.type) && (zip.dirty || zip.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>



      </ion-list>
-->
<ion-list>
  <ion-radio-group formControlName="gender">
    <ion-list-header>
      <ion-label>Biological Gender</ion-label>
    </ion-list-header>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="Male" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" value="Female"></ion-radio>
      </ion-item>
  </ion-radio-group>
</ion-list>
<ion-list>
  <ion-radio-group formControlName="race">
    <ion-list-header>
      <ion-label>Race</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Caucasian</ion-label>
      <ion-radio slot="start" value="caucasian" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>African American</ion-label>
      <ion-radio slot="start" value="african-american"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Native American or Alaskan Native</ion-label>
      <ion-radio slot="start" value="native"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Asian</ion-label>
      <ion-radio slot="start" value="asian"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Native Hawaiian or Pacific Islander</ion-label>
      <ion-radio slot="start" value="pacific"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Mixed</ion-label>
      <ion-radio slot="start" value="mixed"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Other</ion-label>
      <ion-radio slot="start" value="other"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-list>

      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Sign Up <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    </form>
</ion-content>
