ion-content {
  --ion-background-color:       #c9d1d3;
  --ion-background-color-rgb:   201,209,211;
  font-family: verdana
}

mat-form-field {
    display: block;
}

textarea {
    min-height: 130px;
}
