<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Event Attendance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-icon color="primary" name="person" slot="start"></ion-icon>
      {{item.name}}
      <ion-button slot="end" fill="clear" color="dark" [disabled]="disabled">
        {{item.status}}
      </ion-button>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
