.title {
  padding-top: 5em;
  p {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 70px;
    font-weight: 800px;
  }
  ion-button {
    margin-top: 10em;
    font-size: 30px;
  }
}
