<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<ion-item>
  <ion-label position="floating">Your First Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Your Last Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">email address</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Biological gender</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Male</ion-label>
      <ion-radio slot="start" value="Male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Female</ion-label>
      <ion-radio slot="start" value="Female"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Grade Level</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>9th grade</ion-label>
      <ion-radio slot="start" value="9" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>10th grade</ion-label>
      <ion-radio slot="start" value="10"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>11th grade</ion-label>
      <ion-radio slot="start" value="11" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>12th grade</ion-label>
      <ion-radio slot="start" value="12"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Years of experience</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>0</ion-label>
      <ion-radio slot="start" value="0" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>1</ion-label>
      <ion-radio slot="start" value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>2</ion-label>
      <ion-radio slot="start" value="2" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>3</ion-label>
      <ion-radio slot="start" value="3"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<!-- Default -->
<ion-button>Submit</ion-button>

<ion-list>
  <ion-item *ngFor="let item of items; let i = index" (click)="openItem()">
    <ion-icon color="primary" name="person" slot="start"></ion-icon>
    {{item.name}}
    <div class="item-note" slot="end">
      {{item.note}}
    </div>
    <ion-button slot="end" fill="clear" color="dark" (click)="buttonClicked(i)">
      <p> {{item.status}} </p>
    </ion-button>
  </ion-item>
</ion-list>
