<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <input formControlName="email">
    <input formControlName="message">
  </form>



<!-- <ion-item>
  <ion-label position="floating">First Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Last Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Email Address</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Biological Gender</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Male</ion-label>
      <ion-radio slot="start" value="Male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Female</ion-label>
      <ion-radio slot="start" value="Female"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Race</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Caucasian</ion-label>
      <ion-radio slot="start" value="Male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>African American</ion-label>
      <ion-radio slot="start" value="Female"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Native American or Alaskan Native</ion-label>
      <ion-radio slot="start" value="Other"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Asian</ion-label>
      <ion-radio slot="start" value="Other"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Native Hawaiian or Pacific Islander</ion-label>
      <ion-radio slot="start" value="Other"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Mixed</ion-label>
      <ion-radio slot="start" value="Other"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Other</ion-label>
      <ion-radio slot="start" value="Other"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Grade Level</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>9th grade</ion-label>
      <ion-radio slot="start" value="9" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>10th grade</ion-label>
      <ion-radio slot="start" value="10"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>11th grade</ion-label>
      <ion-radio slot="start" value="11" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>12th grade</ion-label>
      <ion-radio slot="start" value="12"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Years of Experience</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>0</ion-label>
      <ion-radio slot="start" value="0" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>1</ion-label>
      <ion-radio slot="start" value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>2</ion-label>
      <ion-radio slot="start" value="2" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>3</ion-label>
      <ion-radio slot="start" value="3"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<!-- Default -->
<!-- <ion-button>Submit</ion-button> -->

 </ion-content>
